@model LoginViewModel

@{
    ViewData["Title"] = "Login !";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Iniciar Sesión</h2>

<section class="vh-100">
    <div class="container py-4 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-1">
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label asp-for="usuario" class="form-label" for="form1Example13">Usuario</label>
                        <input asp-for="usuario" type="text" id="form1Example13" class="form-control form-control-lg" placeholder="Usuario" />
                        <span asp-validation-for="usuario" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label asp-for="clave" class="form-label" for="form1Example23">Contraseña</label>
                        <input asp-for="clave" type="password" id="form1Example23" class="form-control form-control-lg" placeholder="Contraseña" />
                        <span asp-validation-for="clave" class="text-danger"></span>
                    </div>



                    <!-- Submit button -->

                    <div class="">
                        <input type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" value="Iniciar Sesión" style="width:100%" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>