<form asp-controller="Account" asp-action="Logout" method="post" style="display:contents">
    <button type="submit" class="btn btn-link nav-link me-4 ">Cerrar Sesión</button>
    @* <a class="" asp-controller="Account" asp-action="Logout"> *@
    @*     <i class="fas fa-user text-danger"></i><span> Cerrar Sesión</span> *@
    @* </a> *@
</form>
