@{
    ViewData["Title"] = "Home Page";
}

<section id="billboard">
    <div class="row align-items-center g-0 bg-secondary">
        <div class="col-lg-6">
            <div class="m-4 p-4 m-lg-5 p-lg-5">
                <h6 class="text-white"><span class="text-primary">#</span>Larana: El Mejor Servicio en Ferretería</h6>
                <h2 class="display-4 fw-bold text-white my-4">Herramientas y Materiales de Mantenimiento</h2>
                <ul class="info d-flex flex-wrap align-items-center list-unstyled">
                    <li class="fw-medium text-white d-flex align-items-center me-4">
                        <svg class="text-primary me-1" width="20" height="20">
                            <use xlink:href="#check-circle"></use>
                        </svg> Productos
                    </li>
                    <li class="fw-medium text-white d-flex align-items-center me-4">
                        <svg class="text-primary me-1" width="20" height="20">
                            <use xlink:href="#check-circle"></use>
                        </svg> Herramientas
                    </li>
                    <li class="fw-medium text-white d-flex align-items-center me-4">
                        <svg class="text-primary me-1" width="20" height="20">
                            <use xlink:href="#check-circle"></use>
                        </svg> Insumos
                    </li>
                </ul>
                <a href="index.html" class="btn btn-light btn-bg btn-slide hover-slide-right mt-4">
                    <span>Agendar Cita</span>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="~/images/billboard.jpg" alt="img" class="img-fluid">
        </div>
    </div>
</section>

<section id="brands" class="padding-small">
    <div class="container">
        <h6 class="fst-italic text-capitalize mb-4">
            <span class="text-primary">|</span> Vendemos e instalamos todas las marcas
        </h6>
        <div class="row">
            <div class="col my-4">
                <a href="#"><img src="~/images/brand1.png" class="brand-image img-fluid"></a>
            </div>
            <div class="col my-4">
                <a href="#"><img src="~/images/brand2.png" class="brand-image img-fluid"></a>
            </div>
            <div class="col my-4">
                <a href="#"><img src="~/images/brand3.png" class="brand-image img-fluid"></a>
            </div>
            <div class="col my-4">
                <a href="#"><img src="~/images/brand4.png" class="brand-image img-fluid"></a>
            </div>
            <div class="col my-4">
                <a href="#"><img src="~/images/brand5.png" class="brand-image img-fluid"></a>
            </div>
        </div>
    </div>
</section>

<section id="about-us" class="padding-large">
    <div class="container">
        <div class="row g-md-5 align-items-center">
            <div class="col-lg-5">
                <div class="imageblock position-relative">
                    <img class="img-fluid" src="~/images/about.png" alt="img">
                    <div class="video-player position-absolute top-50 start-50 translate-middle">
                        <a type="button" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/W_tIumKa8VY"
                           data-bs-target="#myModal" class="play-btn position-relative">
                            <svg class="play-icon text-primary my-3" width="80" height="80">
                                <use xlink:href="#play-button"></use>
                            </svg>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-7 mt-5">
                <h6><span class="text-primary">|</span>Sobre Nosotros</h6>
                <h3 class="display-6 fw-semibold mb-4">Somos expertos en productos</h3>
                <p>
                    ¡Bienvenido a nuestra Larana, donde calidad y eficiencia se encuentran! Nos enorgullece ser líderes en la venta de
                    <span class="fw-semibold">herramientas, materiales, electricidad y pinturas</span> para clientes residenciales, comerciales e industriales.
                    Nuestro equipo está dedicado a ofrecer los mejores productos para todas sus necesidades de construcción y mantenimiento.
                </p>
                <p class="fw-semibold m-0">Nuestra Misión</p>
                <p>
                    En nuestra ferretería, nuestra misión es crear espacios cómodos, seguros y eficientes para nuestros
                    valiosos clientes. Nos esforzamos por mejorar su calidad de vida ofreciendo productos de alta calidad en
                    herramientas, materiales, electricidad y pinturas, adaptados a sus necesidades. Ya sea que necesite productos para
                    construcción, renovación o mantenimiento, somos su socio confiable.
                </p>

                <a href="index.html" class="btn btn-primary btn-slide hover-slide-right mt-4">
                    <span>Más Sobre Nosotros</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="testimonial" class="padding-small">
    <div class="container">
        <h6><span class="text-primary">|</span>Testimonios</h6>
        <h3 class="display-6 fw-semibold mb-5">Nuestros clientes satisfechos</h3>
        <div class="swiper testimonial-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="review-item">
                        <div class="review">
                            <blockquote class="mb-0">
                                <p class="mb-0">
                                    "Ofrecemos a nuestros clientes productos de alta calidad y atención personalizada.
                                    Proporcionamos soluciones eficientes y adaptadas a sus necesidades de construcción, renovación y mantenimiento."
                                </p>

                            </blockquote>
                        </div>
                        <div class="author-detail mt-4 d-flex align-items-center">
                            <div class="author-text">
                                <h5 class="name mb-0">
                                    James Rodrigo
                                </h5>
                                <div class="review-star d-flex mt-2">
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="review-item">
                        <div class="review">
                            <blockquote class="mb-0">
                                <p class="mb-0">
                                    "Recibí un excelente servicio de esta ferretería. Me ofrecieron productos de calidad y atención personalizada.
                                    Encontré todo lo que necesitaba para mis proyectos de construcción, siempre con soluciones a medida."
                                </p>

                            </blockquote>
                        </div>
                        <div class="author-detail mt-4 d-flex align-items-center">
                            <div class="author-text">
                                <h5 class="name mb-0">
                                    Kelly Garcia
                                </h5>
                                <div class="review-star d-flex mt-2">
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="review-item">
                        <div class="review">
                            <blockquote class="mb-0">
                                <p class="mb-0">
                                    "Estoy muy satisfecho con la atención y productos de esta ferretería. Me ayudaron a encontrar
                                    todo lo que necesitaba, siempre con soluciones personalizadas para mis proyectos de remodelación."
                                </p>

                            </blockquote>
                        </div>
                        <div class="author-detail mt-4 d-flex align-items-center">
                            <div class="author-text">
                                <h5 class="name mb-0">
                                    Karma Samuel
                                </h5>
                                <div class="review-star d-flex mt-2">
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="review-item">
                        <div class="review">
                            <blockquote class="mb-0">
                                <p class="mb-0">
                                    "Recibí un excelente servicio, con productos adaptados a mis necesidades. Siempre me brindaron atención
                                    rápida y eficiente, ayudándome a encontrar lo que buscaba para mis proyectos de mejora del hogar."
                                </p>
                            </blockquote>
                        </div>
                        <div class="author-detail mt-4 d-flex align-items-center">
                            <div class="author-text">
                                <h5 class="name mb-0">
                                    James Rodrigo
                                </h5>
                                <div class="review-star d-flex mt-2">
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="review-item">
                        <div class="review">
                            <blockquote class="mb-0">
                                <p class="mb-0">
                                    "La atención fue excelente, me ofrecieron productos de calidad que se ajustaron perfectamente
                                    a mis necesidades. Siempre me sentí respaldado en cada compra para mis proyectos de renovación."
                                </p>

                            </blockquote>
                        </div>
                        <div class="author-detail mt-4 d-flex align-items-center">
                            <div class="author-text">
                                <h5 class="name mb-0">
                                    Jaime Rua
                                </h5>
                                <div class="review-star d-flex mt-2">
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                    <svg class="star me-1 text-warning" width="16" height="16">
                                        <use xlink:href="#star" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination position-relative pt-5"></div>
        </div>
    </div>
</section>

<section id="services">
    <div class="service-block position-relative bg-secondary">
        <div class="jarallax service-bg"
             style="background-image: url(/images/services2.jpg); background-size: cover; background-repeat: no-repeat;  background-position: center; ">
        </div>
        <div class="container service-content position-absolute top-50 start-50 translate-middle">
            <div class="row align-items-center">
                <div class="col-lg-9">
                    <h3 class="display-6 fw-semibold text-white mb-4">Herramientas</h3>
                    <p class="text-white">
                        Encuentra una amplia variedad de herramientas de alta calidad para todos tus proyectos de construcción
                        y mantenimiento. Desde herramientas manuales hasta eléctricas, tenemos todo lo que necesitas.
                    </p>
                </div>
                <div class="col-lg-3 text-lg-end">
                    <a href="index.html" class="btn btn-outline-light service-btn">Consíguelo Aquí</a>
                </div>
            </div>
        </div>
    </div>
    <div class="service-block position-relative bg-secondary">
        <div class="jarallax service-bg"
             style="background-image: url(/images/services1.jpg); background-size: cover; background-repeat: no-repeat;  background-position: center; ">
        </div>
        <div class="container service-content position-absolute top-50 start-50 translate-middle">
            <div class="row align-items-center">
                <div class="col-lg-9">
                    <h3 class="display-6 fw-semibold text-white mb-4">Materiales de Construcción</h3>
                    <p class="text-white">
                        Disponemos de todos los materiales esenciales para tus proyectos de construcción,
                        desde cemento hasta acabados. Todo lo necesario para hacer tu obra más eficiente.
                    </p>
                </div>
                <div class="col-lg-3 text-lg-end">
                    <a href="index.html" class="btn btn-outline-light service-btn">Ver Materiales</a>
                </div>
            </div>
        </div>
    </div>
    <div class="service-block position-relative bg-secondary">
        <div class="jarallax service-bg"
             style="background-image: url(/images/services3.jpg); background-size: cover; background-repeat: no-repeat;  background-position: center; ">
        </div>
        <div class="container service-content position-absolute top-50 start-50 translate-middle">
            <div class="row align-items-center">
                <div class="col-lg-9">
                    <h3 class="display-6 fw-semibold text-white mb-4">Electricidad</h3>
                    <p class="text-white">
                        Contamos con una amplia selección de productos eléctricos, desde cables y enchufes hasta
                        sistemas de iluminación, para todos tus proyectos de instalación y mantenimiento.
                    </p>
                </div>
                <div class="col-lg-3 text-lg-end">
                    <a href="index.html" class="btn btn-outline-light service-btn">Ver Electricidad</a>
                </div>
            </div>
        </div>
    </div>
    <div class="service-block position-relative bg-secondary">
        <div class="jarallax service-bg"
             style="background-image: url(/images/services4.jpg); background-size: cover; background-repeat: no-repeat;  background-position: center; ">
        </div>
        <div class="container service-content position-absolute top-50 start-50 translate-middle">
            <div class="row align-items-center">
                <div class="col-lg-9">
                    <h3 class="display-6 fw-semibold text-white mb-4">Pinturas</h3>
                    <p class="text-white">
                        Ofrecemos una extensa gama de pinturas para interiores y exteriores, con una variedad
                        de colores y acabados para todos tus proyectos de decoración y renovación.
                    </p>
                </div>
                <div class="col-lg-3 text-lg-end">
                    <a href="index.html" class="btn btn-outline-light service-btn">Ver Pinturas</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="project" class="pt-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h6><span class="text-primary">|</span>Nuestro Trabajo</h6>
                <h3 class="display-6 fw-semibold">Últimos Productos</h3>
            </div>
            <div>
                <a href="index.html" class="btn btn-primary btn-slide hover-slide-right">
                    <span>Ver todos los productos</span>
                </a>
            </div>
        </div>
    </div>
    <div class="swiper project-swiper mt-5">
        <div class="swiper-wrapper">
            <!-- Producto 1: Herramientas de Limpieza -->
            <div class="swiper-slide swiper-width">
                <div class="project-content bg-black">
                    <img class="portfolio-img img-fluid" src="~/images/project4.jpg" alt="img">
                    <div class="portfolio-description position-absolute top-50 start-50 translate-middle">
                        <h4 class="text-white">Herramientas de Limpieza</h4>
                        <a href="index.html" class="text-white text-decoration-underline">Ver Más</a>
                    </div>
                </div>
            </div>

            <!-- Producto 2: Materiales de Mantenimiento -->
            <div class="swiper-slide swiper-width">
                <div class="project-content bg-black">
                    <img class="portfolio-img img-fluid" src="~/images/project3.jpg" alt="img">
                    <div class="portfolio-description position-absolute top-50 start-50 translate-middle">
                        <h4 class="text-white">Materiales de Mantenimiento</h4>
                        <a href="index.html" class="text-white text-decoration-underline">Ver Más</a>
                    </div>
                </div>
            </div>

            <!-- Producto 3: Materiales para Reparación -->
            <div class="swiper-slide swiper-width">
                <div class="project-content bg-black">
                    <img class="portfolio-img img-fluid" src="~/images/project2.jpg" alt="img">
                    <div class="portfolio-description position-absolute top-50 start-50 translate-middle">
                        <h4 class="text-white">Materiales para Reparación</h4>
                        <a href="index.html" class="text-white text-decoration-underline">Ver Más</a>
                    </div>
                </div>
            </div>

            <!-- Producto 4: Herramientas para Instalación -->
            <div class="swiper-slide swiper-width">
                <div class="project-content bg-black">
                    <img class="portfolio-img img-fluid" src="~/images/project1.jpg" alt="img">
                    <div class="portfolio-description position-absolute top-50 start-50 translate-middle">
                        <h4 class="text-white">Herramientas para Instalación</h4>
                        <a href="index.html" class="text-white text-decoration-underline">Ver Más</a>
                    </div>
                </div>
            </div>

            <!-- Producto 5: Herramientas de Limpieza (repetido) -->
            <div class="swiper-slide swiper-width">
                <div class="project-content bg-black">
                    <img class="portfolio-img img-fluid" src="~/images/project4.jpg" alt="img">
                    <div class="portfolio-description position-absolute top-50 start-50 translate-middle">
                        <h4 class="text-white">Herramientas de Limpieza</h4>
                        <a href="index.html" class="text-white text-decoration-underline">Ver Más</a>
                    </div>
                </div>
            </div>

            <!-- Producto 6: Materiales de Mantenimiento (repetido) -->
            <div class="swiper-slide swiper-width">
                <div class="project-content bg-black">
                    <img class="portfolio-img img-fluid" src="~/images/project3.jpg" alt="img">
                    <div class="portfolio-description position-absolute top-50 start-50 translate-middle">
                        <h4 class="text-white">Materiales de Mantenimiento</h4>
                        <a href="index.html" class="text-white text-decoration-underline">Ver Más</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination position-relative pt-5"></div>
    </div>

</section>

<section id="faq" class="padding-small">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-10">
                <div class="text-center">
                    <h6><span class="text-primary">|</span>Preguntas Frecuentes</h6>
                    <h3 class="display-6 fw-semibold mb-5">Tenemos respuestas</h3>
                </div>
                <div class="accordion mb-5" id="accordionExample">
                    <div class="accordion-item">
                        <h5 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                <h5 class="my-2">¿Por qué es importante el mantenimiento regular de herramientas y equipos?</h5>
                            </button>
                        </h5>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                            <div class="accordion-body pt-0">
                                El mantenimiento regular de herramientas y equipos es esencial para asegurar su durabilidad y
                                rendimiento óptimo. Ayudando a prevenir fallos inesperados y garantiza que los productos funcionen
                                de manera eficiente, reduciendo costos a largo plazo. Además, mantener las herramientas en buen
                                estado puede evitar accidentes laborales y mejorar la seguridad en el trabajo. No descuides el cuidado
                                de tus herramientas, ya que el mantenimiento puede alargar su vida útil y optimizar su rendimiento.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h5 class="my-2">¿Cuáles son los signos de que mis herramientas o equipos necesitan reparación?</h5>
                            </button>
                        </h3>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                            <div class="accordion-body pt-0">
                                Algunos de los signos de que tus herramientas o equipos pueden necesitar reparación incluyen:
                                ruidos extraños durante su funcionamiento, pérdida de potencia o eficiencia, dificultad para
                                encenderlos, o problemas con sus componentes visibles como cables o piezas dañadas. Si notas
                                alguno de estos síntomas, es recomendable revisarlos para evitar problemas mayores en el futuro.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h5 class="my-2">¿Cómo puedo mejorar la eficiencia energética de mis herramientas o equipos?</h5>
                            </button>
                        </h3>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                            <div class="accordion-body pt-0">
                                Para mejorar la eficiencia energética de tus herramientas o equipos, asegúrate de realizar
                                un mantenimiento adecuado, como limpiar los filtros y lubricar las piezas móviles. Además,
                                utiliza las herramientas de manera adecuada para evitar sobrecargas y sigue las recomendaciones
                                del fabricante para un uso más eficiente. También es importante almacenar las herramientas en
                                condiciones secas y limpias para prolongar su vida útil y rendimiento.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                <h5 class="my-2">¿Cuál es la vida útil promedio de una herramienta o equipo?</h5>
                            </button>
                        </h3>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
                            <div class="accordion-body pt-0">
                                La vida útil de una herramienta o equipo depende del tipo de uso que se le dé y el mantenimiento
                                que reciba. En general, las herramientas manuales pueden durar muchos años si se mantienen en
                                buenas condiciones, mientras que las herramientas eléctricas, como taladros o sierras, tienen una
                                vida útil de entre 5 a 10 años si se les da un mantenimiento adecuado. Asegúrate de seguir las
                                recomendaciones del fabricante y realizar los cuidados periódicos para prolongar su vida útil.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                <h5 class="my-2">¿Cómo mejorar la calidad del aire en mi hogar?</h5>
                            </button>
                        </h3>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
                            <div class="accordion-body pt-0">
                                Para mejorar la calidad del aire en tu hogar, asegúrate de usar filtros de aire de calidad y realiza
                                un mantenimiento regular de tus sistemas de calefacción y ventilación. Además, evita el uso de
                                productos químicos en exceso y opta por limpiadores ecológicos disponibles en tu ferretería local.
                                También puedes considerar purificadores de aire para eliminar partículas y mejorar la respirabilidad.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="blog">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h6><span class="text-primary">|</span>Blog</h6>
                <h3 class="display-6 fw-semibold">Últimos Artículos</h3>
            </div>
            <div>
                <a href="index.html" class="btn btn-primary btn-slide hover-slide-right">
                    <span>Leer todos los artículos</span>
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card-item">
                    <div class="card border-0 bg-transparent">
                        <div class="card-image position-relative">
                            <a href="index.html"><img src="~/images/blog1.jpg" alt="post-img" class="post-image img-fluid"></a>
                        </div>
                    </div>
                    <div class="card-body p-0 mt-2">
                        <span class="text-capitalize text-black-50">Ene 30, 2024</span>
                        <a href="index.html">
                            <h5 class="mt-2">Las mejores herramientas de ferretería</h5>
                        </a>
                        <p>
                            Descubre las herramientas más útiles para tus proyectos de bricolaje. Conoce las mejores opciones de calidad para facilitar tu trabajo... <span>
                                <a href="index.html" class="text-decoration-underline fst-italic">
                                    Leer más
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card-item">
                    <div class="card border-0 bg-transparent">
                        <div class="card-image position-relative">
                            <a href="index.html"><img src="~/images/blog2.jpg" alt="post-img" class="post-image img-fluid"></a>
                        </div>
                    </div>
                    <div class="card-body p-0 mt-2">
                        <span class="text-capitalize text-black-50">Ene 30, 2024</span>
                        <h5 class="mt-2">
                            <a href="index.html">Costos de mantenimiento de herramientas</a>
                        </h5>
                        <p>
                            Aprende a mantener tus herramientas en excelente estado para prolongar su vida útil. Consejos prácticos para un buen mantenimiento... <span>
                                <a href="index.html" class="text-decoration-underline fst-italic">
                                    Leer más
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card-item">
                    <div class="card border-0 bg-transparent">
                        <div class="card-image position-relative">
                            <a href="index.html"><img src="~/images/blog3.jpg" alt="post-img" class="post-image img-fluid"></a>
                        </div>
                    </div>
                    <div class="card-body p-0 mt-2">
                        <span class="text-capitalize text-black-50">Ene 30, 2024</span>
                        <h5 class="mt-2">
                            <a href="index.html">¿Por qué limpiar tus herramientas de trabajo?</a>
                        </h5>
                        <p>
                            Es importante mantener tus herramientas limpias para un mejor rendimiento y seguridad. Aquí te damos algunos consejos prácticos... <span>
                                <a href="index.html" class="text-decoration-underline fst-italic">
                                    Leer más
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card-item">
                    <div class="card border-0 bg-transparent">
                        <div class="card-image position-relative">
                            <a href="index.html"><img src="~/images/blog4.jpg" alt="post-img" class="post-image img-fluid"></a>
                        </div>
                    </div>
                    <div class="card-body p-0 mt-2">
                        <span class="text-capitalize text-black-50">Ene 30, 2024</span>
                        <h5 class="mt-2">
                            <a href="index.html">Consejos para limpiar herramientas eléctricas</a>
                        </h5>
                        <p>
                            Aprende a realizar el mantenimiento adecuado a tus herramientas eléctricas para evitar daños y garantizar su funcionalidad... <span>
                                <a href="index.html" class="text-decoration-underline fst-italic">
                                    Leer más
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" class="padding-small">
    <div class="container">
        <div class="row">
            <div class="text-center col-lg-3 col-md-6 mb-4 mb-lg-0">
                <svg class="text-primary me-1" width="42" height="42">
                    <use xlink:href="#clock-square"></use>
                </svg>
                <h5 class="mt-3">Mantenimiento rápido</h5>
                <p>Realizamos el mantenimiento de manera rápida y eficiente para que tu equipo siempre funcione.</p>
            </div>
            <div class="text-center col-lg-3 col-md-6 mb-4 mb-lg-0">
                <svg class="text-primary me-1" width="42" height="42">
                    <use xlink:href="#user-speak"></use>
                </svg>
                <h5 class="mt-3">Consultoría gratuita</h5>
                <p>Ofrecemos asesoría sin costo para ayudarte a tomar las mejores decisiones para tus proyectos.</p>
            </div>
            <div class="text-center col-lg-3 col-md-6 mb-4 mb-lg-0">
                <svg class="text-primary me-1" width="42" height="42">
                    <use xlink:href="#tag-price"></use>
                </svg>
                <h5 class="mt-3">Sin cargo por revisión</h5>
                <p>No cobramos por la revisión de tu equipo. Queremos que confíes en nosotros sin compromisos.</p>
            </div>
            <div class="text-center col-lg-3 col-md-6 mb-4 mb-lg-0">
                <svg class="text-primary me-1" width="42" height="42">
                    <use xlink:href="#mask-happly"></use>
                </svg>
                <h5 class="mt-3">Servicio amigable</h5>
                <p>Brindamos un servicio cercano y amigable, siempre con una actitud positiva y disposición para ayudar.</p>
            </div>
        </div>
    </div>
</section>

<section id="cta"
         style="background-image: url(/images/cta-bg.jpg); background-size: cover; background-repeat: no-repeat;  background-position: center">
    <div class="container padding-medium">
        <div class="row g-lg-5 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="border-dotted rounded-4 p-5">
                    <h2 class="display-4 fw-bold text-white">$10 Off</h2>
                    <p class="fs-3 fw-semibold text-white text-capitalize">if you Mention our Website</p>
                    <p class="text-white">
                        Obtén un 10% de descuento en tu próxima compra si mencionas nuestra página web al pagar. ¡No te lo pierdas!
                    </p>
                </div>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h6 class="text-white">Comienza ahora</h6>
                <h2 class="display-4 fw-bold text-white">Los Mejores Productos de Ferretería</h2>
                <p class="text-white">
                    Contamos con una amplia variedad de herramientas, materiales de construcción y productos a precios increíbles.
                    ¡Todo lo que necesitas en un solo lugar!
                </p>
                <ul class="d-flex flex-wrap align-items-center list-unstyled m-0">
                    <li class="phone text-white text-capitalize d-flex align-items-center me-4">
                        <svg class="text-primary me-1" width="20" height="20">
                            <use xlink:href="#phone"></use>
                        </svg> Llama: 666 333 9999
                    </li>
                    <li class="time text-white text-capitalize d-flex align-items-center me-4">
                        <svg class="text-primary me-1" width="20" height="20">
                            <use xlink:href="#pen-new-round"></use>
                        </svg> Solicita una cotización gratis
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
